{% extends 'clients/base.html' %}

{% block title %}Client Table{% endblock %}

{% block head %}
<script type="text/javascript">
    'use strict';
    $(function() {
        let decorateTable = new Promise(function(resolve, reject) {
            // DataTable
            let table = $('#client-table').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'columnsToggle',
                ],
            });

            // Apply the search to every column
            let searchRow = $('<tr></tr>');
            table.columns().every(function() {
                let title = this.header().innerHTML;
                let search = $('<input>', {
                    type: "text",
                    placeholder: "Search " + title,
                });

                let that = this;
                search.on('keyup change clear', function() {
                    // get search method
                    let isRegex = ($('div#search-method input[name=searchMethod]:checked').val() === 'regex');

                    if (that.search() !== this.value) {
                        that
                            .search(this.value, isRegex)
                            .draw();
                    }
                });

                // Append to searchRow
                searchRow
                    .append($('<th></th>')
                        .attr('id', 'search-' + title)
                        .append(search));
            });

            // Append searchRow to the top of the header
            $('#client-table thead').prepend(searchRow);

            resolve('Table decorated');
        });

        decorateTable.then(function(result) {
            // Add event listener to columns toggle buttons to show/hide search row
            // because this manually created row is not shown/hidden by default buttons action
            $('div.dt-buttons .buttons-columnVisibility').each(function(idx, elem) {
                let title = $(elem).text();
                $(elem)
                    .on('click', function(event) {
                        let eventElem = $(event.target);
                        let tag = eventElem.prop('tagName');
                        // Clicked element is either button or span inside the button
                        // But a is used in IE instead of button!
                        let btn = (tag === 'BUTTON' || tag === 'A') ? eventElem : eventElem.parent('button, a');
                        let display = btn.hasClass('active') ? '' : 'none';
                        $('#client-table thead th#search-' + title).css('display', display);
                    });
            });
        });
    });
</script>
{% endblock %}

{% block contents %}
<h3>Client Table</h3>
<div>
    <div id="search-method">
        <p>検索方法：
            <input type="radio" name="searchMethod" value="normal" checked>通常
            <input type="radio" name="searchMethod" value="regex">正規表現
        </p>
    </div>
    <div>
        <table id="client-table" border="1">
            <thead>
                <tr>
                    <th>name</th>
                    <th>session</th>
                    <th>session_start_end</th>
                    <th>code</th>
                    <th>products</th>
                </tr>
            </thead>
            <tbody>
                {% if client_list %}
                    {% for client in client_list %}
                        <tr>
                            <td><a href="{% url 'clients:detail' client.id %}">{{ client.name }}</a></td>
                            <td>{{ client.session }}</td>
                            <td>{{ client.session_start_end }}</td>
                            <td>{{ client.code }}</td>
                            <td>{{ client.products }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
