#table-ope-row1 {
    display: flex;
}

#table-ope-row1 .ope-item {
    margin: 10px;
}

#table-ope-row1 #ope-buttons {
    display: flex;
    align-items: center;
}

#table-ope-row1 #ope-buttons button {
    width: 90px;
    margin-right: 2px;
}

/* Column Chooser */
.modal-body {
    display: flex;
    justify-content: space-around;
}
.modal-body>.left .col-names, .modal-body>.right .col-names {
    width: 220px;
    height: 300px;
    backgroud-color: #CCFFCC;
    overflow: scroll;
}


/* TODO 位置確認用の補助線 */

div {
    border: 1px solid green;
}

